doctype html
html(lang="en")
  head
    title Twiliopera - Record

    // We use Twitter Bootstrap as the default styling for our page
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .container
      h1 Twiliopera
      p.
        Enter your phone number and receieve a call which you can turn into a song.

      // phone number form
      .row
        .col-md-4
        .col-md-4.text-center
          form(id='numberForm', role='form')
            .form-group
              input.form-control(type='text', id='phoneNumber', 
                placeholder='(666) 420-1337')
            
        .col-md-4
      .row
        .col-md-4
        .col-md-4.text-center
          select(id='instrument')
            option(value='piano') Accoustic Grand Piano
            option(value='guitar') Guitar
            option(value='sax') Soprano Sax
            option(value='square') Square
          br
          br
          button(type='submit', class='btn-lg btn-success') Call Me!
        .col-md-4
      .row
        .col-md-4
        .col-md-4.text-center
          br
          button(type="button" class='btn-lg btn-danger', onclick="window.open('/song');") Click Here After Call!
          img(src='/images/midi.png')
        .col-md-4

    // Include page dependencies
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // Our app's front-end JavaScript logic
    script(src='/app.js')
