doctype html
html(lang="en")
  head
    title Twiliopera - Listen
    // We use Twitter Bootstrap as the default styling for our page
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .container
        h1 Twiliopera
        .row
            .col-md-2
            .col-md-8
                p.
                    This page contains the song you just recorded.
            .col-md-2
        .row
            .col-md-4
            .col-md-4
                a(href='#')
                    img(id='play' src='/images/play.png' onClick="MIDIjs.play('/output.mid')")
            .col-md-r

    // Include page dependencies
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://www.midijs.net/lib/midi.js')
