doctype html
html(lang="en")
  head
    title Twiliopera
    // We use Twitter Bootstrap as the default styling for our page
    link(rel='stylesheet', 
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', 
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')

  body
    .container
    .p This page contains the song you just recorded. 
    a(href='#' onClick="MIDIjs.play('/output.mid')") play the song!

    script.
      var clean_digits = !{JSON.stringify(Digits)}


    // Include page dependencies
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://www.midijs.net/lib/midi.js')
